.container {
  margin-bottom: 2rem;
}

[class*="col-"] {
  height: 50px;
  max-width: 50px;
  border: 1px solid white;
}

[class*="col-"].black {
  background-color: black;
}

[class*="col-"].red {
  background-color: red;
}
